 #inIDCliente {
        
        border-radius: 5px;
        margin: 5px;
        width: 90px;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
       
    }

    #txtIDVenta {
        
        border-radius: 5px;
        margin: 5px;
        width: 90px;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 18px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
       
    }

    #tRowsForm th, td 
    {
        color: white;
        font-size: 16px;
        
    }
    

    #tPartidas 
    {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border: none;
        border-collapse: separate;
        border-spacing: 10px 0.5rem;
    }

    #tPartidas .descripcion {
        
        border-radius: 5px;
        outline: none;
        border: none;
        background: #ffffff;
        margin: 30px;
        width: 1000px;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
    
    }

    #tPartidas .cantidad 
    {   
        border-radius: 5px;
        margin: 10px;
        width: 250px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
       
    }

    #tPartidas .precio
    {
        border-radius: 5px;
        margin: 10px;
        width: 130px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: right;
    }

    #tPartidas .importe
    {
        border-radius: 5px;
        margin: 10px;
        width: 130px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: right;
    }

    #tPartidas .idArt
    {
        border-radius: 5px;
        margin: 10px;
        width: 10px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: right;
    }

    #tPartidasForm 
    {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border: none;
        border-collapse: separate;
        border-spacing: 10px 0.5rem;
    }

    #tPartidasForm .descripcion {
        
        border-radius: 5px;
        outline: none;
        border: none;
        background: #ffffff;
        margin: 30px;
        width: 1000px;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
    
    }

    #tPartidasForm .cantidad 
    {   
        border-radius: 5px;
        margin: 10px;
        width: 250px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
       
    }

    #tPartidasForm .precio
    {
        border-radius: 5px;
        margin: 10px;
        width: 130px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: right;
    }

    #tPartidasForm .importe
    {
        border-radius: 5px;
        margin: 10px;
        width: 130px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: right;
    }

    #tPartidasForm .idArt
    {
        border-radius: 5px;
        margin: 10px;
        width: 10px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: right;
    }

    #tMotor 
    {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       
        /*
        border-collapse: separate;
        border-spacing: 5px 1rem;
        */
    }

    #tMotor .header
    {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    #tMotor .myId {
        
        border-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin: 5px;
        width: 90px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
    }

    #tMotor .cantidad {
        
        border-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: right;
        text-align: right;
        margin: 5px;
        width: 105px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
    }

    #tMotor .sel {
        
        border-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin: 5px;
        width: 330px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
    }

    #tVendedor 
    {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        /*
        border-collapse: separate;
        border-spacing: 5px 1rem;
        */
    }

    #tVendedor .header
    {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    #tVendedor .sel {
        
        border-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin: 10px;
        width: 350px;
        outline: none;
        border: none;
        background: #ffffff;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 16px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
    }

    #tTotal 
    {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: separate;
        border-spacing: 10px;
    }

    #tTotal .descripcion {
        
        border-radius: 5px;
        outline: none;
        border: none;
        background: none;
        
        width: 287px;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 14px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
    
    }

    #tTotal .cantidad 
    {   
        border-radius: 5px;
        
        width: 130px;
        outline: none;
        border: none;
        background: none;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 14px;
        color: black;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
       
    }

    #tTotal .precio
    {
        border-radius: 5px;
        
        width: 105px;
        outline: none;
        border: none;
        background: black;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 14px;
        color: white;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: center;
    }

    #tTotal .importe
    {
        border-radius: 5px;
       
        width: 105px;
        outline: none;
        border: none;
        background: black;
        font: 16px 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        line-height: 14px;
        color: white;
        padding: 10px 14px 10px 14px;
        height: 39px;
        resize: none;
        text-align: right;
    }